@import '/src/assets/styles/vars';
@import '/src/assets/styles/mixins';

.actions {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 55px;
    padding: 10px 0;
    background-color: $white;
    box-shadow: 0 -3px 3px rgba($grayDark, .05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: all .1s;
}

.actionsInner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .15s;
}

.actionsExpanded {
    width: 250px;
}

.actionsDelete {
    width: 130px;
}

.actionsBtn {
    padding: 5px 0;
    position: relative;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s;
    animation: showIcon .5s forwards;
    animation-delay: .1s;
    opacity: 0;
    transform: translateX(5px);

    @keyframes showIcon {
        0% {
            opacity: 0;
            transform: translateX(5px);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        border-radius: 3px;
        background-color: $primary;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        transition: all .15s;
    }

    &:hover {
        color: $primary;

        &::after {
            width: 50%;
        }
    }

    svg {
        width: 25px;
        height: 25px;
    }

    & + & {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 30px;
            background-color: rgba($grayDark, .3);
        }
    }
}

.actionsBtnRed {
    &::after {
        background-color: $red;
    }

    &:hover {
        color: $red;
    }
}

.actionsBtnClose {
    svg {
        width: 20px;
        height: 20px;
    }
}

.actionsBtnMore {
    display: flex;
    flex-direction: column;
    animation: showIconFromLeft .5s forwards;
    opacity: 0;
    transform: translateX(-5px);

    @keyframes showIconFromLeft {
        0% {
            opacity: 0;
            transform: translateX(-5px);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    span {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $white;
        border: 2px solid $black;
        display: block;

        & + span {
            margin-top: 3px;
        }
    }
}
