@import '/src/assets/styles/vars';
@import '/src/assets/styles/mixins';

.editor {
    margin: 40px 0;
    position: relative;
}

.editorLabel {
    display: block;
    color: $grayDark;
    font-weight: 400;
    margin-bottom: 10px;
}

.editorContent {
    border-radius: 10px;
}

.editorContentError {
    border: 1px solid $red;
}

.editorError {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    color: $red;
    font-size: 12px;
    font-weight: 400;
}
