@import '/src/assets/styles/vars';
@import '/src/assets/styles/mixins';

.aside {
    min-height: 100vh;
    background-color: $primary;
    max-width: 350px;
    width: 100%;
    padding: 35px;
}

.asideNav {

}

.asideList {
    width: calc(100% + 20px);
    margin-left: -10px;
}

.asideItem {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: -10px;
        width: 2px;
        border-radius: 2px;
        background-color: $white;
        top: 50%;
        transform: translateY(-50%);
        transition: all .15s;
        transform-origin: center center;
        height: 0;
    }

    & + & {
        margin-top: 40px;
    }

    &:hover {
        &::before {
            height: 25px;
        }
    }
}

.asideItemActive {
    &::before {
        height: 50px;
    }

    &:hover {
        &::before {
            height: 50px;
        }
    }
}

.asideLink {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: $white;
    font-size: 20px;
    font-weight: 700;

    img {
        margin-right: 25px;
    }
}
