@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

header{
   margin-top: 21px;
}
.container{
   max-width: 1600px;
   padding: 0px 15px;
   margin: 0 auto;

}
.headerFirst{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.headerLogo{
   margin: 0px 10px 0px 0px;
   display: flex;
   align-items: center;
   min-width: 100px;
}
.headerLogoVntu{
   margin-right: 25px;
}
.headerLogo img {
   max-width: 100%;
}
.headerSearch{
   margin-right: 10px;
   position: relative;
   width: 43.75%;
}

.headerSearch input{
   height: 54px;
   width: 100%;
   font-size: 16px;
   line-height: 19px;
   padding: 15px 0px 15px 20px;
   background: #FFFFFF;
   box-shadow: 5px 4px 4px rgba(35, 35, 35, 0.05);
   border-radius: 10px;
   border: none;
   outline: none;
}
.headerSearch button {
   height: 48px;
   width: 54px;
   position: absolute;
   top: 6px;
   right: 6px;
   border: none;
   align-items: center;
   background: #FFFFFF;
}
.headerLanguage{
   display: flex;
   align-items: center;
   margin-right: 15px;
}
.headerLanguage select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 0px 8px 0px 25px;
   font-size: 18px;
   line-height: 19px;
   border: none;
   outline: none;
   color: #232323;
   background: url("../../assets/images/Vector.svg") no-repeat left center;
}
.headerVector{
   margin-right: 10px;
}
.headerEmail{
   display: flex;
   align-items: center;
   font-family: 'Raleway';
   font-size: 18px;
   line-height: 19px;
   color: #232323;
   margin-right: 10px;
}
.headerEmail img{
   margin-right: 8px;
}

.headerMenu{
   display: flex;
   align-items: center;
   cursor: pointer;
   background: #54A8DD;
   border-radius: 10px;
}
.textMenu{
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 18px;
   line-height: 133%;
   color: #FFFFFF;
   padding: 11px 12px 11px 20px;
}
.menuBtn{
   display: flex;
   align-items: center;
   position: relative;
   padding: 13px 16px 13px 0px;
}
.burgerBtn{
   width: 30px;
   height: 27px;
   margin-left: 20px;
   position: relative;
   display: flex;
   justify-content: end;
}
.burgerBtn::before {
   content: '';
   position: absolute;
   top: 0;
   width: 25px;
   background-color: #FFFFFF;
   height: 3px;
}
.burgerBtn span{
   position: absolute;
   top: 12px;
   width: 30px;
   background-color: #FFFFFF;
   height: 3px;
}
.burgerBtn::after {
   content: '';
   position: absolute;
   bottom: 0;
   width: 15px;
   background-color: #FFFFFF;
   height: 3px;
}
@media (max-width: 1200px) {
   .headerLogoVntu {
      margin-right: 10px;
   }
   .textMenu {
      font-size: 16px;
      line-height: 133%;
      color: #FFFFFF;
      padding: 8px 0px 8px 10px;
   }
   .menuBtn {
      display: flex;
      align-items: center;
      position: relative;
      padding: 8px 10px 8px 0px;
   }
   .burgerBtn {
      width: 25px;
      height: 22px;
      margin-left: 20px;
      position: relative;
      display: flex;
      justify-content: end;
   }
   .burgerBtn::before {
      height: 2px;
      width: 22px;
   }

   .burgerBtn span {
      height: 2px;
      top: 10px;
      width: 26px;
   }

   .burgerBtn::after {
      height: 2px;
      width: 13px;
   }
}
@media (max-width: 966px){
   .headerFirst {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .headerSearch {
      flex: 1 1 50%;
   }
   .headerLogoVntu {
      margin-right: 25px;
   }
}
