@import './vars';

.codex-editor__redactor {
    background-color: $white;
    max-width: unset;
    border-radius: 10px;
    border: 1px solid $gray;
    padding: 15px 20px !important;
    //max-height: 1000px;
    //overflow-y: auto;
    //overflow-x: hidden;
}

.codex-editor--narrow .codex-editor__redactor {
    margin: 0;
}

.codex-editor--narrow .ce-toolbar__actions {
    right: unset;
    left: calc(100% + 10px);
}

.cdx-notify__cross::after, .cdx-notify__cross::before {
    left: 4px;
}

.image-tool__image-picture {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.ce-inline-tool--link + .ce-inline-tool--link {
    display: none;
}

.codex-editor__loader{
    height: 70px !important;
}
