@import '/src/assets/styles/vars';
@import '/src/assets/styles/mixins';

.btn {
    background-color: $primary;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px;
    border-radius: 10px;
    transition: all .15s;
    border: 1px solid $primary;

    &:hover {
        background-color: $white;
        color: $primary;
    }
}

.btnRed {
    background-color: $red;
    border: 1px solid $red;

    &:hover {
        color: $red;
    }
}

.btnDisabled {
    pointer-events: none;
    filter: grayscale(.8);
}
